@keyframes chcol {
    0% {
        transform: scale(1);
        /* Azul normal (substitua pela sua cor) */
    }

    50% {
        transform: scale(0.93);
        /* Azul mais claro (substitua pela sua cor) */
    }
}

.animate-chcol {
    animation: chcol 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}